name: Continuous integration
on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: "30 15 * * 5"
env:
  CARGO_TERM_COLOR: always
  CI: true

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - 1.67.1

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        name: Setup toolchain
        with:
          toolchain: ${{ matrix.rust }}
          components: rustfmt,clippy

      - uses: Swatinem/rust-cache@v2

      - name: Fmt
        run: cargo fmt --all -- --check

      - name: Clippy
        run: |
          cargo clippy --all-targets --all-features -- -D warnings
          cargo clippy --examples -- -D warnings

      - name: Build
        run: cargo build --all-targets

      - name: Doc
        run: cargo doc --no-deps

      - name: Tests
        run: cargo test --all --all-features

      - name: Install cargo-hack
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-hack

      - name: Check feature-powerset
        run: cargo hack check --no-dev-deps --feature-powerset

      - name: Check each-feature
        run: cargo hack check --no-dev-deps --each-feature

      - name: Tests feature-powerset
        run: cargo hack test --feature-powerset

      - name: Tests each-feature
        run: cargo hack test --each-feature

  semver-checks:
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check semver
        uses: obi1kenobi/cargo-semver-checks-action@v2
